:root {
  /* Color */
  --color-highlight: #1d7484;

  /* Spacing */
  --space-small: 8px;
}

input {
  width: 500px;
}

a {
  text-decoration: underline;
}

.highlight {
  padding: var(--space-small);
  background-color: var(--color-highlight);
  color: white;
  border-radius: var(--space-small);
}

.section-small {
  font-size: small;
}
